body {
  background-color: #131114cc;
  color: aliceblue;
  margin: 50px;
}

h1 {
  text-align: center; 
  background-color: aliceblue;
  background-size: cover; 
  color: #131114cc; 
  padding: 10px;
  border-radius: 10px;
}

.tableau {
  border-collapse: collapse;
  box-shadow: rgb(188, 205, 223) 0px 20px 30px -10px;
}

a {
  text-decoration: none;
  color: aliceblue;
}

img {
border-radius: 10px;
width: 150px;
}

thead {
  border: solid 1.4px rgb(39, 39, 205);
  background-color: rgb(39, 39, 205);
  position: sticky;
  top: 0;
}

th {
  padding: 15px 20px;
}

th, td {
  padding: 15px 20px;
  border: solid 1px rgba(128, 128, 128, 0.356);
  text-align: center;
  
}

tr:nth-child(even) {
  background-color: #575555;
}